@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-sans);

} */


@layer base {
  html {
    @apply font-sans;
  }

  body {
    @apply bg-black antialiased;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
  }

  /* Hide scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}